include links.pug

mixin header(activePage)
  nav.navbar.navbar-expand-lg.navbar-dark.bg-secondary.sticky-top.container-fluid
    a.navbar-brand(href="index.pug")
      img(
        src="../img/optimized/mvhs_crest.png",
        alt="MVHS Crest",
        height="40",
        width="39"
      )
    #navbarContent.collapse.navbar-collapse.order-5.order-lg-1
      .navbar-nav
        +nav-link("index", activePage, "Home")
        +nav-link("sports", activePage, "Sports")
        +nav-link("staff", activePage, "Staff")
        +fake-nav-link("Wellbeing")
        +fake-nav-link("Learning Areas")
        +fake-nav-link("News")
        +fake-nav-link("Contact Us")
    button.navbar-toggler.order-2(
      type="button",
      data-bs-toggle="collapse",
      data-bs-target="#navbarContent",
      aria-controls="navbarContent",
      aria-label="Toggle Drop-Down Navigation",
      aria-expanded="false"
    )
      span.navbar-toggler-icon
    span#motto.navbar-text.order-4.order-sm-0.order-lg-4.text-center Empowering students to thrive in our Whanau
