doctype html
html(lang="en")
  include ../includes/head.pug
  +head("Home | MVHS", "The hub for Mountainview High School related information", "../img/mvhs_crest.png", false, "index", "MVHS crest")
  body.d-flex.flex-column.min-vh-100
    include ../includes/header.pug
    +header("index")
    #carousel.carousel.slide(data-bs-ride="carousel")
      .carousel-indicators
        button.active(
          type="button",
          data-bs-target="#carousel",
          data-bs-slide-to="0",
          aria-current="true",
          aria-label="Slide One"
        )
        button(
          type="button",
          data-bs-target="#carousel",
          data-bs-slide-to="1",
          aria-label="Slide Two"
        )
        button(
          type="button",
          data-bs-target="#carousel",
          data-bs-slide-to="2",
          aria-label="Slide Three"
        )
        button(
          type="button",
          data-bs-target="#carousel",
          data-bs-slide-to="3",
          aria-label="Slide Four"
        )
        button(
          type="button",
          data-bs-target="#carousel",
          data-bs-slide-to="4",
          aria-label="Slide Five"
        )
      .carousel-inner.text-white
        #carousel-item-1.carousel-item.active
          img.d-block.w-100(
            src="../img/img_4048.jpg",
            alt="Four students smiling with their arms over each others shoulders."
          )
          .carousel-caption
            h2 Whanaungatanga
        #carousel-item-2.carousel-item
          img.d-block.w-100(
            src="../img/p1030255.jpg",
            alt="Teacher showing three students looking at a computer."
          )
          .carousel-caption
            h2 Manaakitanga
        #carousel-item-3.carousel-item
          img.d-block.w-100(
            src="../img/more-fun-than-maths.jpg",
            alt="Two students feeding a calf milk."
          )
          .carousel-caption
            h2 Kaitiakitanga
        #carousel-item-4.carousel-item
          img.d-block.w-100(
            src="../img/img_4677.jpg",
            alt="Three students presenting to teachers with a digital slideshow."
          )
          .carousel-caption
            h2 Rangatiratanga
        #carousel-item-5.carousel-item
          img.d-block.w-100(
            src="../img/adj-senior-science.jpg",
            alt="Student watching another student use a dropper to add colored liquid to a test tube"
          )
          .carousel-caption
            h2 Pūkengatanga
      button.carousel-control-prev(
        type="button",
        data-bs-target="#carousel",
        data-bs-slide="prev"
      )
        span.carousel-control-prev-icon(aria-hidden="true")
        span.visually-hidden Previous
      button.carousel-control-next(
        type="button",
        data-bs-target="#carousel",
        data-bs-slide="next"
      )
        span.carousel-control-next-icon(aria-hidden="true")
        span.visually-hidden Next
    section.container.mt-3.mb-2
      h1 Mountainview High School
      h2 The Journey to Success.
      p 
        | Mountainview High School is a co-educational state high school located in the thriving town of Timaru, in the South Island of New Zealand.
        | The school runs from year nine to thirteen. The school has a roll of 453 students as of November 2020; more than 20 are International students.
        | The school operates a house system, known as Whānau.
      h2 Empowering students to thrive in our Whānau culture.
      .border-start.border-4.border-secondary.bg-primary.pt-2.mb-3.pb-1.ps-3
        p.mb-2
          | I am proud to welcome you to the Mountainview website and trust that you will find the information that you need.
          | After reading, I am sure you will agree with me that everything about Mountainview High School is exciting.
          | We are a progressive high school that pursues personal excellence in all that we do.
          | Whether it is the physical campus or the learning in and beyond our classrooms, you do not have to look hard to find excellence.
        p
          | Being a relatively new school in our current form has allowed us to embrace innovation and not be hamstrung by tradition.
          | This has created an approach to education that is highly responsive to the needs of our students.
          | We provide a technology-rich, broad curriculum that ensures our students grow and develop into well-rounded and competent individuals.
          | We are proud of the ‘Mounties’ who thrive beyond school.
        p.text-center.mb-1 Kenny Diamond - Principal
    include ../includes/footer.pug
    +footer("index")
