doctype html
html(lang="en")
  include ../includes/head.pug
  +head("Home | MVHS", "The hub for Mountainview High School related information", "../img/MVHS crest.png", false, "index", "MVHS crest")
  body.d-flex.flex-column.min-vh-100
    include ../includes/header.pug
    +header("index")
    #carousel.carousel.slide(data-bs-ride="carousel")
      .carousel-indicators
        button.active(
          type="button",
          data-bs-target="#carousel",
          data-bs-slide-to="0",
          aria-current="true",
          aria-label="Slide One"
        )
        button(
          type="button",
          data-bs-target="#carousel",
          data-bs-slide-to="1",
          aria-label="Slide Two"
        )
        button(
          type="button",
          data-bs-target="#carousel",
          data-bs-slide-to="2",
          aria-label="Slide Three"
        )
        button(
          type="button",
          data-bs-target="#carousel",
          data-bs-slide-to="3",
          aria-label="Slide Four"
        )
        button(
          type="button",
          data-bs-target="#carousel",
          data-bs-slide-to="4",
          aria-label="Slide Five"
        )
      .carousel-inner.text-white
        #carousel-item-1.carousel-item.active
          img.d-block.w-100(
            src="../img/IMG_4048.JPG",
            alt="Four students smiling with their arms over each others shoulders."
          )
          .carousel-caption
            h1 Whanaungatanga
        #carousel-item-2.carousel-item
          img.d-block.w-100(src="../img/P1030255.JPG")
          .carousel-caption
            h1 Manaakitanga
        #carousel-item-3.carousel-item
          img.d-block.w-100(src="../img/more fun than maths.jpg")
          .carousel-caption
            h1 Kaitiakitanga
        #carousel-item-4.carousel-item
          img.d-block.w-100(src="../img/IMG_4677[1].JPG")
          .carousel-caption
            h1 Rangatiratanga
        #carousel-item-5.carousel-item
          img.d-block.w-100(src="../img/adj senior science.jpg")
          .carousel-caption
            h1 Pūkengatanga
      button.carousel-control-prev(
        type="button",
        data-bs-target="#carousel",
        data-bs-slide="prev"
      )
        span.carousel-control-prev-icon(aria-hidden="true")
        span.visually-hidden Previous
      button.carousel-control-next(
        type="button",
        data-bs-target="#carousel",
        data-bs-slide="next"
      )
        span.carousel-control-next-icon(aria-hidden="true")
        span.visually-hidden Next
    include ../includes/footer.pug
    +footer("index")
